.background-transparent
  .row.head-liner
    .large-3.columns
      %a.th.radius
        = image_tag "resume-me.jpg"
    .large-9.columns
      %h1
        Antonio Chávez
        %small Software engineer
      %ul.inline-list
        %li
          %p
            %a{ href: 'https://twitter.com/The_NaoX', target: '_twitter' }
              %i.fi-social-twitter
              Twitter
        %li
          %p
            %a{ href: 'https://www.facebook.com/TheNaoX', target: '_facebook' }
              %i.fi-social-facebook
              Facebook
        %li
          %p
            %a{ href: 'http://www.linkedin.com/pub/juan-antonio-chavez-valencia/49/4b6/145', target: '_linked_in' }
              %i.fi-social-linkedin
              LinkedIn
        %li
          %p
            %a{ href: 'https://github.com/TheNaoX', target: '_github' }
              %i.fi-social-github.large
              Github
        %li
          %p
            %a{ href: 'skype:antonio.chavez.valencia' }
              %i.fi-social-skype.large
              Skype
        %li
          %p
            %a{ href: 'mailto:cavjzz@gmail.com' }
              %i.fi-mail.large
              Mail
.separator-transparent
.background-transparent
  .row
    .large-3.columns
      %h3 About me
    .large-9.columns.about-text
      %p Software engineer, fast learner, and lover of complex music. I'm a Ruby on Rails developer and JavaScript enthusiast. I like to get things done in a timely fashion and with great quality of code, with challenges like breaking down complex requirements into real software. I'm always looking forward to learning how specific technologies work deeply, and I reinvent myself every once in a while.
