/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.bg-fixed {
  background: #000 asset-url('background.jpg') no-repeat;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-container {
  min-height: 400px;
}

.background-white {
  padding: 50px 0 50px 0;
  background-color: white;
}

.background-transparent {
  padding: 50px 0 50px 0;
  background: rgba(0,0,0,0.5);
  h1, h2, h3, h4, h5, strong, em, p, small, a, li {
    color: white;
  }
  a:hover {
    color: gray;
    text-decoration: underline;
  }
}

.navigation-bar {
  height: 50px;
  background-color: white;
}

@media (min-width: 1200px) {
  .bg-fixed {
    background-size: 100% auto;
  }
}

.about-text {
  text-align: justify;
}
